# Make whitelist
*
!.gitignore
!README.md
!requirements.txt

# Python code
!setup.py
!suzirjax
!suzirjax/**
!suzirjax/*.py
!suzirjax/**/*.py
*.mp4

# Resources
!resources
!resources/*

**/__pycache__
